@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #00a9a5;
    --primary-light: #02bdba;
    --primary-dark: #019795;

    --background: #e6e6e6;
    --background-light: #f8f8f8;
    --background-dark: #d4d4d4;

    --foreground: #39393a;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary: #558c8c;
        --primary-light: #61a0a0;
        --primary-dark: #457474;

        --background: #39393a;
        --foreground: #e6e6e6;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
